h1{
	text-align:center;
	text-transform: capitalize;}

h3{
	text-transform: capitalize;}
	
body{
	background-color:rgb(255, 255, 230);
	font-family: verdana;}
	
p, ul, ol{
	min-width:1000px;
	max-width:1300px;
	margin:10 auto 10 auto;}